# flags required to generate documentation
build:docs --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:docs --build_tag_filters="docs"

# don't build documentation by default
build --build_tag_filters="-docs"

# Disable shuffling the execution order of test cases within a single test.
build:noshuffle --define shuffle=off
