#!/bin/bash

if [ -n "$TEST_SRCDIR" ]; then
    runfiles="$TEST_SRCDIR"
else
    runfiles="$0.runfiles"
fi

# This script acts as a proxy so that py_unzip targets can be `bazel run`.
exec "$runfiles/%workspace%/%executable%" "$@"
